@charset "utf-8";
/* CSS Document */

  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Pangolin&family=Russo+One&display=swap');

*{
	margin: 0px;
	padding: 0px;
	border: 0px;
	box-sizing: border-box;
	font-family: lato;
	font-style: normal;
}

body{
	width: 100%;
	display: flex;
	flex-direction: column;
}

header {
    width: 100%;
    background-color: #FFFFFF;
}

h3, h4, h5 {
	height:16px;
}

h3 { 
	color:#000000;
	font-weight: 400;
}

h4 {
	color:#737373;
}

h5 {	
	height:17px;
	color:#FFFFFF;
}

#barra {
	background: #FFFFFF;
	display: flex;
	font-size: 12px;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right: 20px;
	color:#737373;
	justify-content: flex-end;
}

#cuotas {
		padding: 15px;
		width: 100%;
		align-items: center;
		align-content: center;
		font-family: lato;
		font-style: normal;
		font-size: 12px;
		line-height: 15px;
		color: #FFFFFF;
		background: #000000;
		text-align: center;
	}

.fav { 
	display: flex; 
	margin-right: 60px;
	box-sizing: content-box;
	text-decoration: underline;
	}

.ingreso {
	display: flex;
	box-sizing: content-box;
	margin-left: -40px;
}
	
.botonera-head {
	font-size: 14px;
	color:#737373;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
	margin-top: 15px;
	padding-left: 30%;
	
}
.suscripcion {
	width: 100%;
	align-content: center;
	align-self: center;

}
#logo {
	display:flex;
	justify-content: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

#buscar {
	display: flex;
	justify-content:flex-end;
	margin-left: 10px;
	margin-top: -4px;
}

footer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-top: 20px;
	margin-bottom: 40px;
}
	.newsletter {
	display: flex;
	flex-direction: column;
	color:#000000;
	margin-top: 25px;
	margin-bottom: 20px;
	align-items: center;
}
.mail {
	text-decoration: underline;
	text-align: center;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.suscribirse-boton {
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
	display: flex;
	align-content: center;
	align-self:center;
	align-items: center;
}
.boton-suscrip {
	display: flex;
	justify-content: space-around;
	align-items: center;
	
}